/node_modules
/ABNS/node_modules
/balancer/node_modules
/node/node_modules
/client/node_modules
npm-debug.log
.DS_Store
package-lock.json
/*.env
/ABNS/npm-debug.log
/ABNS/.DS_Store
/ABNS/package-lock.json
/ABNS/.vscode
/balancer/npm-debug.log
/balancer/.DS_Store
/balancer/package-lock.json
/balancer/.vscode
/node/npm-debug.log
/node/.DS_Store
/node/package-lock.json
/node/.vscode
/node/movies

/client/npm-debug.log
/client/.DS_Store
/client/package-lock.json
/client/.vscode